
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Eduport - LMS, Education and Course Theme</title>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Eduport- LMS, Education and Course Theme">

	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/font-awesome/css/all.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/tiny-slider/tiny-slider.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/choices/css/choices.min.css' %}">

	<!-- Theme CSS -->
	<link id="style-switch" rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>

<body>

<!-- Header START -->
<header class="navbar-light navbar-sticky">
	<nav class="navbar navbar-expand-xl">
		<div class="container">

			<div class="row d-flex w-100 mx-auto align-items-center">
				<!-- Header left side START -->
				<div class="col-3 col-md-4 col-xl-5 d-flex align-items-center ps-0">
					<!-- Responsive navbar toggler -->
					<button class="navbar-toggler p-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-animation">
							<span></span>
							<span></span>
							<span></span>
						</span>
						<span class="text-body small d-none d-sm-inline-block ms-2">Menu</span>
					</button>
					
					<!-- Main navbar START -->
					<div class="collapse navbar-collapse" id="navbarCollapse">
						<ul class="navbar-nav navbar-nav-scroll">
                            <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Gallery</a></li>
		
						</ul>
					</div>
					<!-- Main navbar END -->
				</div>
				<!-- Header left side END -->

				<!-- Logo START -->
				<div class="col-6 col-md-4 col-xl-2 text-center d-flex">
					<a class="navbar-brand mx-auto" href="index.html">
						<img class="navbar-brand-item light-mode-item" src="static/images/logo.svg" alt="logo">			
						<img class="navbar-brand-item dark-mode-item" src="static/images/logo-light.svg" alt="logo">			
					</a>
				</div>
				<!-- Logo END -->

				<!-- Header right side START -->
				<div class="col-3 col-md-4 col-xl-5 d-flex justify-content-end pe-0">
					<ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">
						<!-- Search -->
						<li class="nav-item dropdown nav-search d-none d-sm-block">
							<a class="nav-link mb-0" role="button" href="#" id="navSearch" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside" data-bs-display="static">
								<i class="bi bi-search fs-4"> </i>
							</a>
							<div class="dropdown-menu dropdown-menu-end shadow rounded p-2" aria-labelledby="navSearch">
								<form class="input-group">
									<input class="form-control border-primary" type="search" placeholder="Search..." aria-label="Search">
									<button class="btn btn-primary m-0" type="submit">Search</button>
								</form>
			
								<!-- Recent search -->
								<ul class="list-group list-group-borderless p-2 small">
									<li class="list-group-item d-flex justify-content-between align-items-center">
										<span class="fw-bold">Recent Searches:</span>
										<button class="btn btn-sm btn-link mb-0 px-0">Clear all</button>
									</li>
									<li class="list-group-item text-primary-hover text-truncate">
										<a href="#" class="text-body"> <i class="far fa-clock me-1"></i>Digital marketing course for Beginner</a>
									</li>
								</ul>
							</div>
						</li>

						<!-- Sign In button -->
						<li class="nav-item ms-2 d-none d-md-block">
							<a href="/signin/" class="btn btn-sm btn-dark mb-0">Sign In</a>
						</li>
					</ul>
				</div>
				<!-- Header right side END -->
			</div>
		</div>
	</nav>	
	<!-- Logo Nav END -->
</header>
<!-- Header END -->
								

<!-- **************** MAIN CONTENT START **************** -->
<main>
	
    {% block content %}{% endblock %}

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START -->
<footer class="pt-5 bg-light">
	<div class="container">
		<!-- Row START -->
		<div class="row g-4">

			<!-- Widget 1 START -->
			<div class="col-lg-3">
				<!-- logo -->
				<a class="me-0" href="index.html">
					<img class="light-mode-item h-40px" src="static/images/logo.svg" alt="logo">
					<img class="dark-mode-item h-40px" src="static/images/logo-light.svg" alt="logo">
				</a>
				<p class="my-3">Eduport education theme, built specifically for the education centers which is dedicated to teaching and involve learners. </p>
				<!-- Social media icon -->
				<ul class="list-inline mb-0 mt-3">
					<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-facebook" href="#"><i class="fab fa-fw fa-facebook-f"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-instagram" href="#"><i class="fab fa-fw fa-instagram"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-twitter" href="#"><i class="fab fa-fw fa-twitter"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-linkedin" href="#"><i class="fab fa-fw fa-linkedin-in"></i></a> </li>
				</ul>
			</div>
			<!-- Widget 1 END -->

			<!-- Widget 2 START -->
			<div class="col-lg-6">
				<div class="row g-4">
					<!-- Link block -->
					<div class="col-6 col-md-4">
						<h5 class="mb-2 mb-md-4">Company</h5>
						<ul class="nav flex-column">
							<li class="nav-item"><a class="nav-link" href="#">About us</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Contact us</a></li>
							<li class="nav-item"><a class="nav-link" href="#">News and Blogs</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Library</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Career</a></li>
						</ul>
					</div>
									
					<!-- Link block -->
					<div class="col-6 col-md-4">
						<h5 class="mb-2 mb-md-4">Community</h5>
						<ul class="nav flex-column">
							<li class="nav-item"><a class="nav-link" href="#">Documentation</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Faq</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Forum</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Sitemap</a></li>
						</ul>
					</div>

					<!-- Link block -->
					<div class="col-6 col-md-4">
						<h5 class="mb-2 mb-md-4">Teaching</h5>
						<ul class="nav flex-column">
							<li class="nav-item"><a class="nav-link" href="#">Become a teacher</a></li>
							<li class="nav-item"><a class="nav-link" href="#">How to guide</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Terms &amp; Conditions</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- Widget 2 END -->

			<!-- Widget 3 START -->
			<div class="col-lg-3">
				<h5 class="mb-2 mb-md-4">Contact</h5>
				<!-- Time -->
				<p class="mb-2">
					Toll free:<span class="h6 fw-light ms-2">+1234 568 963</span>
					<span class="d-block small">(9:AM to 8:PM IST)</span>
				</p>

				<p class="mb-0">Email:<span class="h6 fw-light ms-2">example@gmail.com</span></p>

				<div class="row g-2 mt-2">
					<!-- Google play store button -->
					<div class="col-6 col-sm-4 col-md-3 col-lg-6">
						<a href="#"> <img src="static/images/client/google-play.svg" alt=""> </a>
					</div>
					<!-- App store button -->
					<div class="col-6 col-sm-4 col-md-3 col-lg-6">
						<a href="#"> <img src="static/images/client/app-store.svg" alt="app-store"> </a>
					</div>
				</div> <!-- Row END -->
			</div> 
			<!-- Widget 3 END -->
		</div><!-- Row END -->

		<!-- Divider -->
		<hr class="mt-4 mb-0">

		<!-- Bottom footer -->
		<div class="py-3">
			<div class="container px-0">
				<div class="d-lg-flex justify-content-between align-items-center py-3 text-center text-md-left">
					<!-- copyright text -->
					<div class="text-primary-hover"> Copyrights <a href="#" class="text-body">©2022 Eduport</a>. All rights reserved. </div>
					<!-- copyright links-->
					<div class="justify-content-center mt-3 mt-lg-0">
						<ul class="nav list-inline justify-content-center mb-0">
							<li class="list-inline-item">
								<!-- Language selector -->
								<div class="dropup mt-0 text-center text-sm-end">
									<a class="dropdown-toggle nav-link" href="#" role="button" id="languageSwitcher" data-bs-toggle="dropdown" aria-expanded="false">
										<i class="fas fa-globe me-2"></i>Language
									</a>
									<ul class="dropdown-menu min-w-auto" aria-labelledby="languageSwitcher">
										<li><a class="dropdown-item me-4" href="#"><img class="fa-fw me-2" src="static/images/flags/uk.svg" alt="">English</a></li>
										<li><a class="dropdown-item me-4" href="#"><img class="fa-fw me-2" src="static/images/flags/gr.svg" alt="">German </a></li>
										<li><a class="dropdown-item me-4" href="#"><img class="fa-fw me-2" src="static/images/flags/sp.svg" alt="">French</a></li>
									</ul>
								</div>
							</li>
							<li class="list-inline-item"><a class="nav-link" href="#">Terms of use</a></li>
							<li class="list-inline-item"><a class="nav-link pe-0" href="#">Privacy policy</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- =======================
Footer END -->

<!-- Back to top -->
<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>

<!-- Bootstrap JS -->
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.min.js'%}"></script>

<!-- Vendors -->
<script src="{% static 'vendor/tiny-slider/tiny-slider.js'%}"></script>
<script src="{% static 'vendor/purecounterjs/dist/purecounter_vanilla.js'%}"></script>
<script src="{% static 'vendor/choices/js/choices.min.js'%}"></script>

<!-- Template Functions -->
<script src="{% static 'js/functions.js'%}"></script>

</body>
</html>
